h1,
h2,
h3 {
  font-family: var(--header-style);
  color: var(--black-default);
  font-weight: 600;
  margin: 0;
}

h1 {
  line-height: 1.3;
  letter-spacing: 6px;
  font-size: var(--desktop-h1);
}

li {
  font-family: var(--text-style);
  color: var(--black-default);
  line-height: 2;
}

ul {
  padding-left: 16px;
}

h2 {
  letter-spacing: 3px;
  font-size: var(--desktop-h2);
}

h3 {
  font-size: var(--desktop-h3);
}

.text {
  font-family: var(--text-style);
  color: var(--black-default);
  line-height: 1.6;

  &__t1 {
    @extend .text;
    font-size: var(--desktop-t1);

    &-semibold {
      @extend .text__t1;
      font-weight: 600;
    }
  }

  &__t2 {
    @extend .text;
    font-size: var(--desktop-t2);

    &-semibold {
      @extend .text__t2;
      font-weight: 600;
    }
  }

  &__t3 {
    @extend .text;
    font-size: var(--desktop-t3);
  }

  &__t4 {
    @extend .text;
    font-size: var(--desktop-t4);
  }
}

.subtitle {
  font-family: var(--text-style);
  font-size: var(--desktop-subtitle);
  color: var(--black-default);
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 1.4;
  animation: textreveal 1.3s;
}

@media (max-width: 900px) {
  h1 {
    font-size: var(--tablet-h1);
  }

  h2 {
    font-size: var(--tablet-h2);
  }

  h3 {
    font-size: var(--tablet-h3);
  }

  .text {
    &__t1 {
      font-size: var(--tablet-t1);
    }

    &__t2 {
      font-size: var(--tablet-t2);
    }

    &__t3 {
      font-size: var(--tablet-t3);
    }

    &__t4 {
      font-size: var(--tablet-t4);
    }
  }

  .subtitle {
    font-size: var(--tablet-subtitle);
  }
}



@media (max-width: 568px) {
  h1 {
    letter-spacing: 6px;
    font-size: var(--mobile-h1);
  }

  h2 {
    font-size: var(--mobile-h2);
  }

  h3 {
    font-size: var(--mobile-h3);
  }

  .text {
    &__t1 {
      font-size: var(--mobile-t1);
    }

    &__t2 {
      font-size: var(--mobile-t2);
    }

    &__t3 {
      font-size: var(--mobile-t3);
    }

    &__t4 {
      font-size: var(--mobile-t4);
    }
  }

  .subtitle {
    font-size: var(--mobile-subtitle);
    letter-spacing: 5px;
  }
}
